<div class="m-one">
	<ul class="m-key">
		<li class="keys u-button" id="1">1</li>
		<li class="keys u-button" id="2">2</li>
		<li class="keys u-button" id="3">3</li>
		<li class="keys u-button" id="4">4</li>
		<li class="keys u-button" id="5">5</li>
		<li class="keys u-button" id="6">6</li>
		<li class="keys u-button" id="7">7</li>
		<li class="keys u-button" id="8">8</li>
		<li class="keys u-button" id="9">9</li>
		<li class="u-button" id="10">10</li>
		<li class="keys u-button" id="0">11</li>
		<li class="u-button 16c" id="1">12</li>
		<li class="u-button dn" id="1W-low">13</li>
		<li class="u-button lg dn">14</li>
	</ul>
	<ul class="m-select">
	</ul>
	<div class="m-alert">
		<div class="distress"></div>
		<div class="SQ" id="limit"></div>
	</div>
	<div class="m-knobs">
		<div class="knob-1" id="off">21</div>
		<div class="knob-2" id="color">22</div>
	</div>
	<!-- 屏幕显示部分 -->
	<div class="m-screen">
		<div class="m-screen-c">
			<ul class="m-select-l">
			</ul>
			<div class="m-scr-mainc">
				<div class="m-scr-main">
					<p class="loc">LOC&nbsp;&nbsp;<b id="lh">LO</b>
					</p>
					<div class="m-line">
						<p class="line">16</p>
						<p class="line-name">DISTRESS/CALL</p>
					</div>
					<div class="u-callline">
						<!--
                                        <span class="u-msg z-on">R</span>
                                        <span class="u-msg z-off">S</span>
                                        <span class="u-msg z-off">D</span> -->
					</div>
					<div class="m-position">
						<p>MMSI:123456789</p>
						<p>N 12'34.5678</p>
						<p>E 123'45.6789</p>
					</div>
				</div>
				<div class="m-scr-left">
					<!--<span class="voice"></span>-->
					<p class="action">INT</p>
					<P class="RXTX">RX</P>
				</div>
				<!-- <div class="m-bar">
                                    <div class="u-tip"></div>
                                </div> -->
			</div>
		</div>
		<div class="m-wrap"></div>
		<div class="m-bar" id="for-limit">
			<p>VOICE</p>
			<div class="u-bar-c">
				<div class="u-tip"></div>
			</div>
		</div>
		<div class="m-bar" id="for-color">
			<p>SQUELCH</p>
			<div class="u-bar-c">
				<div class="u-tip"></div>
			</div>
		</div>
	</div>
	<div class="m-alert-c"></div>
</div>